.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ff54a4 solid 1px;
  border-radius: 3rem;
  padding: 2rem;
  margin: 2rem;
  width: 650px;
  transition: 0.3s;
}

.aboutme:hover {
  border: #F5F7F3 solid 1px;
  transition: 0.3s;
}

.textbio {
  font-family: Parkinsans;
  padding: 0.5rem;
}
