.footer {
  font-family: Parkinsans;
}

.footer a {
  text-decoration: none;
  color: #fd3592;
  font-family: Borel;
  transition: 0.3s;
}

.footer a:hover {
  cursor: pointer;
  color: #ffd7e9;
  /* background-color: black;
  border: #FD3592 solid 1px;
  border-radius: 1rem;
  padding: 0.1rem; */
  text-shadow: 0px 0px 30px #ff54a4;
  transition: 0.3s;
}
