* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a23;
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* p {
  font-family: Istok Web, Open Sans, sans-serif;
}

header {
  h1 {
    font-family: Raleway, Open Sans, Arial, sans-serif;
    font-weight: 100;
    margin: 3rem 3rem;
    color: #fd0d7d;
    transition: 0.5s;
    text-align: center;
    &:hover {
      color: #e7d29b;
      transition: 0.5s;
      text-shadow: 0px 0px 30px #ff54a4;
    }
  }
  img {
    height: auto;
    width: 200px;
    border-radius: 10rem;
    border: #ff54a4 solid 3px;
    transition: 0.5s;
    &:hover {
      border: #f5f7f3 solid 3px;
      transition: 0.5s;
      box-shadow: #ff54a4;
      box-shadow: 0px 0px 30px #ff54a4;
    }
  }
}

.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #ff54a4 solid 1px;
  border-radius: 3rem;
  padding: 2rem;
  margin: 2rem;
  width: 650px;
  transition: 0.5s;
  &:hover {
    border: #f5f7f3 solid 1px;
    transition: 0.5s;
    box-shadow: #ff54a4;
    box-shadow: 0px 0px 30px #ff54a4;
  }
  .aboutme-text {
    color: #dcbe73;
    padding: 0.5rem;
  }
}

footer {
  a {
    font-family: Open Sans, arial, sans-serif;
    text-decoration: none;
    color: #fd3592;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      color: #e4c983;
      background-color: black;
      border: #fd3592 solid 1px;
      border-radius: 1rem;
      padding: 0.1rem;
      text-shadow: 0px 0px 30px #ff54a4;
      transition: 0.3s;
    }
  }
  p {
    margin-block: 1rem;
    color: #e1bc5f;
  }
}
